.email-index-container {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  width: 99%;
  height: 100vh;
  transition: width 0.3s ease;
  width: calc(100% - 60px);
}

.email-index-container.sidebar-collapsed {
  width: calc(100% - 60px);
}

.email-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  transition: margin-left 0.3s ease;
}

.email-content.sidebar-collapsed {
  margin-left: 60px;
}

.email-index {
  flex: 1;
  position: relative;
  width: 98%;
  background-color: #e3e9f0;
  border-radius: 10px;
  margin: 0.5rem;
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .email-index-container {
    width: 100%;
  }

  .email-index {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }


}