.email-compose {
  width: 80%;
  height: 70vh;
  border: none;
  border-radius: 10px;
}

.email-compose > .modal-navbar {
  display: flex;
  justify-content: space-between;
}

.modal-navbar > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.compose-form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 15px;
}

.compose-form > input {
  border: none;
  border-bottom: 1px solid #888;
  opacity: 0.8;
}

.compose-form > input:focus {
  outline: none;
}

.compose-form > textarea {
  border: none;
  opacity: 0.8;
}

