.nav-filters {
  display: flex;
  flex-direction: column;
  height: 70vh;
}

.btn-compose {
  margin-left: 10px;
  padding: 10px;
}

.nav-filters > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-left: 5px;
}

.btn { 
 display: flex;
 align-items: center; 
 padding: 5px 10px;
 background-color: transparent;
 color: #fff;
 text-align: left;
 font-size: 1rem;
 border: none;
 gap: 10px;
}

.btn:hover,
.btn.active {
  background-color: rgba(241, 241, 241, 0.3);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.btn-compose {
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 150px;
  background-color:#fff;
  color: #777;
  border: none;
  border-radius: 15px;
  margin: 10px;
  font-weight: 600;
  font-size: 1rem;
}

.btn-compose img {
  width: 25px;
  height: 25px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 5px;
  width: 50%;
}

.dropdown-menu select {
  border: none;
  padding: 10px 20px;
}

.dropdown-menu select option {
  background-color:transparent;
}

.btn img {
  width: 15px;
  height: 15px;
}

a.active {
  color: #fff;
}

a:hover {
  text-decoration: none;
}